:host {
  display: flex;

  .type-area {
    flex: 10;
    border-radius: 20px;
    border-style: none;
    outline: none;
    height: 50px;
    width: 100%;
    resize: none;
    padding-left: 30px;
    font-size: large;
  }
  
  .send-button {
    flex: 1;
    margin-left: 10px;
  }
}
